rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isDeleteRequest() {
      return request.resource == null;
    }

    function isValidImageUpload() {
      return request.resource != null
          && request.resource.size < 10 * 1024 * 1024
          && request.resource.contentType.matches('image/.*');
    }

    match /listing_images/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if ((isSignedIn() && request.auth.uid == userId)
            || userId == 'guest')
          && (isDeleteRequest() || isValidImageUpload());
    }

    match /user_avatars/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if isSignedIn() && request.auth.uid == userId
          && (isDeleteRequest() || isValidImageUpload());
    }
  }
}
